// @import "~vendor/oban";
@import "~common/styles/index";

.oban-normalize();

/* --------------------------- file: root.less */
body {
    background-color: @background;
}


h1 {
    font-family: 'Roboto';
    font-weight: 100;
}

:local(.root) {
    color: blue;
}
